<div class="page-wrap w">
  <div class="panel-title">修改密码</div>
  <div class="panel-body">
    <div class="user-info">
      <div class="form-line">
        <span class="label">用户名：</span>
        <span class="text">{{userName}}</span>
      </div>
      <div class="form-line">
        <span class="label">原密码：</span>
        <input type="password" class="input" id="password"   [(ngModel)]="password" name="password" autocomplete="off"/>
      </div>
      <div class="form-line">
        <span class="label">新密码：</span>
        <input type="password" class="input" id="password-new"   [(ngModel)]="passwordNew" name="passwordNew" autocomplete="off"/>
      </div>
      <div class="form-line">
        <span class="label">确认密码：</span>
        <input type="password" class="input" id="password-confirm"   [(ngModel)]="passwordConfirm" name="passwordConfirm" autocomplete="off"/>
      </div>
      <span class="myBtn myBtn-submit" (click)="submit()">提交</span>
    </div>

  </div>

</div>

