
<div class="page-wrap" [hidden]="edit">
  <div class="crumb">
    <a class="link">个人中心</a>
  </div>

  <div class="w">
    <div class="user-info" >
      <div class="form-line">
        <span class="label">用户名：</span>
        <span class="text">{{user.userName}}</span>
      </div>
      <div class="form-line">
        <span class="label">电 话：</span>
        <span class="text">{{user.phone}}</span>
      </div>
      <div class="form-line">
        <span class="label">邮 箱：</span>
        <span class="text">{{user.email}}</span>
      </div>
      <div class="form-line">
        <span class="label">问 题：</span>
        <span class="text">{{user.question}}</span>
      </div>
      <div class="form-line">
        <span class="label">答 案：</span>
        <span class="text">{{user.answer}}</span>
      </div>
      <a class="myBtn myBtn-submit" (click)="onEdit()">编辑</a>
    </div>
  </div>
</div>
<app-user-edit [user]="user"  *ngIf="edit"></app-user-edit>
