<h1>{{title}}</h1>
<!--<div>-->
  <!--<a class="link">test</a>-->
  <!--<a class="link-text">test</a>-->
<!--</div>-->
<!--<div>-->
  <!--<a class="myBtn">test1</a>-->
  <!--<a class="myBtn myBtn-mini">test1</a>-->
<!--</div>-->
<!--<i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>-->

<!--<app-nav-simple></app-nav-simple>-->
<!--<app-nav></app-nav>-->
<!--<app-header></app-header>-->
<!--<app-footer></app-footer>-->
<!--<app-nav-side></app-nav-side>-->
<!--<app-result></app-result>-->
<app-user-login></app-user-login>
